[program:oshc-invoice-email]
process_name=%(program_name)s_%(process_num)02d
directory=/home/mhieupham/Projects/oschabc
command=/usr/bin/php /home/mhieupham/Projects/oschabc/artisan queue:work database --sleep=3 --tries=3
autostart=true
autorestart=true
;user=forge
numprocs=8
redirect_stderr=true
stdout_logfile=/home/mhieupham/Projects/oschabc/storage/logs/supervisor_out.log
stderr_logfile=/home/mhieupham/Projects/oschabc/storage/logs/supervisor_err.log
stopwaitsecs=3600
