<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(70,130,180);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(70,130,180);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(70,130,180);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(70,130,180);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:13.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:13.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="./wz_jsgraphics.js.download"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="./background1.jpg" width="595" height="841"></div>
<div style="position:absolute;left:38.16px;top:32.03px" class="cls_003"><span class="cls_003">Annalink OSHCstudents</span></div>
<div style="position:absolute;left:38.16px;top:50.68px" class="cls_002"><span class="cls_002">19/20-22 Anglo Rd, Campsie, NSW 2194, AU</span></div>
<div style="position:absolute;left:38.16px;top:68.68px" class="cls_002"><span class="cls_002">ABN: 26 609 001 185</span></div>
<div style="position:absolute;left:38.16px;top:86.68px" class="cls_002"><span class="cls_002"> </span><a href="http://www.oshcstudents.com.au/">www.oshcstudents.com.au</a> </div>
<div style="position:absolute;left:419.20px;top:131.78px" class="cls_003"><span class="cls_003">DATE:</span><span class="cls_004"> 13/02/2019</span></div>
<div style="position:absolute;left:37.44px;top:135.74px" class="cls_005"><span class="cls_005">INVOICE</span></div>
<div style="position:absolute;left:387.53px;top:149.78px" class="cls_003"><span class="cls_003">INVOICE NO:</span><span class="cls_004"> SIA190517</span></div>
<div style="position:absolute;left:384.75px;top:167.78px" class="cls_003"><span class="cls_003">REFERENCE:</span><span class="cls_004"> Hoang Anh DINH</span></div>
<div style="position:absolute;left:484.76px;top:216.83px" class="cls_004"><span class="cls_004">Currency: AUD</span></div>
<div style="position:absolute;left:82.02px;top:237.08px" class="cls_003"><span class="cls_003">PROVIDER</span></div>
<div style="position:absolute;left:214.51px;top:237.08px" class="cls_003"><span class="cls_003">POLICY</span></div>
<div style="position:absolute;left:295.30px;top:237.08px" class="cls_003"><span class="cls_003">START DATE</span></div>
<div style="position:absolute;left:385.01px;top:237.08px" class="cls_003"><span class="cls_003">END DATE</span></div>
<div style="position:absolute;left:487.60px;top:237.08px" class="cls_003"><span class="cls_003">AMOUNT</span></div>
<div style="position:absolute;left:88.57px;top:257.33px" class="cls_004"><span class="cls_004">ALLIANZ</span></div>
<div style="position:absolute;left:219.94px;top:257.33px" class="cls_004"><span class="cls_004">Single</span></div>
<div style="position:absolute;left:302.65px;top:257.33px" class="cls_004"><span class="cls_004">01/04/2019</span></div>
<div style="position:absolute;left:386.25px;top:257.33px" class="cls_004"><span class="cls_004">16/09/2019</span></div>
<div style="position:absolute;left:494.61px;top:257.33px" class="cls_004"><span class="cls_004">303.57</span></div>
<div style="position:absolute;left:38.16px;top:275.33px" class="cls_004"><span class="cls_004">Commission (include GST)</span></div>
<div style="position:absolute;left:497.39px;top:275.33px" class="cls_004"><span class="cls_004">39.46</span></div>
<div style="position:absolute;left:38.16px;top:293.33px" class="cls_004"><span class="cls_004">GST</span></div>
<div style="position:absolute;left:500.17px;top:293.33px" class="cls_004"><span class="cls_004">3.59</span></div>
<div style="position:absolute;left:499.20px;top:307.82px" class="cls_006"><span class="cls_006">9.11</span></div>
<div style="position:absolute;left:38.16px;top:310.67px" class="cls_006"><span class="cls_006">Surcharge fee (3%)</span></div>
<div style="position:absolute;left:38.88px;top:335.99px" class="cls_007"><span class="cls_007">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span></div>
<div style="position:absolute;left:211.39px;top:360.77px" class="cls_008"><span class="cls_008">TOTAL AMOUNT PAYABLE</span></div>
<div style="position:absolute;left:495.28px;top:359.35px" class="cls_009"><span class="cls_009">276.8</span></div>
<div style="position:absolute;left:38.16px;top:380.73px" class="cls_010"><span class="cls_010">For specific enquiries regarding this invoice contact: +61 451 299 866 or email info@oshcstudents.com</span></div>
<div style="position:absolute;left:38.16px;top:398.76px" class="cls_011"><span class="cls_011">Transfer Fund within Australia</span></div>
<div style="position:absolute;left:38.16px;top:435.48px" class="cls_010"><span class="cls_010">Account Name:</span></div>
<div style="position:absolute;left:146.97px;top:435.48px" class="cls_010"><span class="cls_010">OSHC GLOBAL</span></div>
<div style="position:absolute;left:38.16px;top:453.48px" class="cls_010"><span class="cls_010">BSB:</span></div>
<div style="position:absolute;left:146.97px;top:453.48px" class="cls_010"><span class="cls_010">012 260</span></div>
<div style="position:absolute;left:38.16px;top:471.48px" class="cls_010"><span class="cls_010">Account Number:</span></div>
<div style="position:absolute;left:146.97px;top:471.48px" class="cls_010"><span class="cls_010">412479564</span></div>
<div style="position:absolute;left:38.16px;top:489.48px" class="cls_010"><span class="cls_010">Bank:</span></div>
<div style="position:absolute;left:146.97px;top:489.48px" class="cls_010"><span class="cls_010">ANZ Bank, Australia.</span></div>
<div style="position:absolute;left:38.16px;top:507.48px" class="cls_010"><span class="cls_010">Swift code:</span></div>
<div style="position:absolute;left:146.97px;top:507.48px" class="cls_010"><span class="cls_010">ANZBAU3M</span></div>
<div style="position:absolute;left:38.16px;top:525.48px" class="cls_010"><span class="cls_010">We require all international transfers to us to be made with the OUR instruction.</span></div>
<div style="position:absolute;left:38.16px;top:550.68px" class="cls_010"><span class="cls_010">Please make sure that the Invoice No is added in your payment details.</span></div>
</div>
</body></html>